<nav class="nav">
  <div class="nav__menu" id="nav-menu">
    <a href="/">
        <img src="/img/iconsw/home.svg" alt="" style="width: 40px" />
        <span>الرئيسية </span>
    </a>

    <a href="/chat">
        <img src="/img/iconsw/chat.svg" alt="" style="width: 42px" />
        <span>الدردشة</span>
    </a>

    <a href="/newads">
        <img src="/img/iconsw/camera.svg" alt="" style="width: 40px" />
        <span>أعلان</span>
    </a>

    <a href="/account/myads">
        <img src="/img/iconsw/news.svg" alt="" style="width: 40px" />
        <span> متجري</span>
    </a>

    <a href="/account">
        <img src="/img/iconsw/user.svg" alt="" style="width: 40px" />
        <span>حسابي </span>
    </a>
    </div>
  </nav>

  <div class="logo d-flex justify-content-around">
    <div class="back-btn">
      <a href="../newad.html">
        <img src="/img/icons/back.svg" style="width: 40px" alt="back-btn"
      /></a>
    </div>

    <a href="/">
      <img
        src="/img/invare_logo-removebg-preview.png"
        alt="logo"
        style="width: 4rem"
      />
    </a>

    <div class="back-btn">
      <a href="https://wa.me/96891919506">
        <img
          class="sos-btn"
          src="/img/iconsw/phone-500.svg"
          alt="sos"
          style="width: 30px"
        />
      </a>
    </div>
  </div>