<!DOCTYPE html>

<html lang="ar" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/style.css" />
    <title>المواد</title>
  </head>
</html>

<body>
  <%- include('partials/nav') %>
  <!-- <div class="splace">
    <div class="search">
      <input type="text" placeholder="البحث" class="search" />
    </div>
  </div> -->

  <div class="btns-place">
    <a href="newads/newauction">
      <div class="newad-buy">
        <h1>إعلان مزاد</h1>
      </div>
    </a>

    <a href="newads/newbuy">
      <div class="newad-auction">
        <h1>إعلان بيع</h1>
      </div>
    </a>

    <a href="newads/newreq">
      <div class="newad-req">
        <h1>طلب شراء</h1>
      </div>
    </a>

    <a href="newads/newad_gen">
      <div class="newad-general">
        <h1>خدمات و اجهزة</h1>
      </div>
    </a>
  </div>

  <div class="modal-support hidden">
    <div class="header">
      <img
        src="/img/icons/close.svg"
        class="close p-2"
        style="width: 35px"
        alt=""
      />
      <h1 class="flex-grow-1">الدعم الفني</h1>
    </div>

    <div class="socials">
      <a href="https://wa.me/96891919506">
        <img src="/img/icons/whatsapp.svg" style="width: 50px" alt="socials" />
      </a>

      <a href="https://www.facebook.com/107891381518097">
        <img src="/img/icons/facebook.svg" style="width: 50px" alt="socials" />
      </a>

      <a href="https://instagram.com/recycling_in_oman?igshid=MTg0ZDhmNDA=">
        <img src="/img/icons/instagram.svg" style="width: 45px" alt="socials" />
      </a>
    </div>
  </div>

  <script>
    // const modalBtnSupport = document.querySelector(".sos-btn");

    // const modalS = document.querySelector(".modal-support");

    // const closeBtn = document.querySelector(".close");

    // modalBtnSupport.addEventListener("click", function () {
    //   modalS.classList.toggle("hidden");
    // });

    // window.addEventListener("scroll", function () {
    //   modalS.classList.add("hidden");
    //   modalN.classList.add("hidden");
    //   // console.log("scrolled");
    // });

    // closeBtn.addEventListener("click", function () {
    //   modalS.classList.add("hidden");
    // });

    // window.addEventListener("scroll", function () {
    //   // navMenu.classList.toggle("scrolling");
    //   console.log("scrolled");
    // });
  </script>
</body>
