<!DOCTYPE html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../terms/style.css" />
    <title>Terms & Conditions</title>
  </head>
  <body>
    <div class="logo">
      <a href="#">
        <img
          src="/img/invare_logo-removebg-preview.png"
          alt="logo"
          style="width: 4rem"
        />
      </a>
    </div>
    <!-- <div class="back"></div> -->
    <div class="container">
      <div class="placement">
        <div class="box">
          <div class="placement">
            <div class="header">
              <h1>شروط وأحكام الخدمة</h1>
              <h6>اخر تحديث كان في 11/12/2022</h6>
            </div>
            <div class="content">
              <div>
                <p class="start-line">
                  Subscription to company services through the site or
                  application requires the approval of the following conditions
                  (Terms of Use).
                </p>

                <p>
                  The services – provided by company under the terms of use
                  include many products, features, and tools – that help you
                  create and manage your Physical and e-business (service).
                </p>

                <p>
                  Any new features or tools added to the current service are
                  also subject to the same conditions. You can view the
                  conditions at any time at the following link:
                </p>
                <p>
                  company has the right to update and change the terms of use by
                  posting updates and changes to its website or application. It
                  is also advisable to visit the site from time to time to see
                  any update that may affect you.
                </p>

                <p>
                  You must read and agree to all the terms in the Terms of Use
                  and Privacy Policy before becoming an official company user.
                </p>

                <p>
                  Abstracts are provided in simplified language for
                  clarification. Please read the “Terms of Use” to get a full
                  picture of your legal requirements. By using company or any of
                  its services, you agree to these terms.
                </p>

                <p>1. Account terms</p>

                <p>
                  2. You must be 18 years of age or older, or have reached the
                  age of majority according to the laws and regulations of the
                  country in which you use the service
                </p>

                <p>
                  3. You must register with company to use the service and
                  benefit from it by writing the full name as it appears in the
                  official papers, the current address, the mobile number, a
                  valid email and any required information as shown, requested
                  in the registration form and company has the right to reject
                  the request to create any account – as it is entitled to –
                  Cancellation of any account due, in accordance with the powers
                  granted.
                </p>

                <p>
                  4. company has the right to use the email address as a primary
                  method of communication.
                </p>

                <p>
                  5. The user is responsible for keeping his password safe.
                  company is not responsible for any loss or damage that occurs
                  as a result of forgetting and not maintaining the security of
                  the account and password.
                </p>

                <p>
                  6. The user is responsible for all activities and contents
                  such as data, graphics, images and links that are downloaded
                  under his account in company (“Store Content”). No virus,
                  computer worms, or any symbols of a destructive nature should
                  be transmitted.
                </p>

                <p class="finish-line">
                  7. Violation of any term in the Account terms described in
                  accordance with the powers granted to company will lead to
                  immediate termination of user services and the claim for
                  compensation.
                </p>
              </div>
            </div>

            <div class="fade"></div>

            <div class="form-check">
              <!-- <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault"
            /> -->
              <label class="form-check-label" for="flexCheckDefault">
                بالنقر على زر "التالي" ، فإنك توافق على شروط وأحكام خدمات.
              </label>
            </div>

            <!-- <div class="tick">
            <label>
              <input type="radio" value="terms" name="agreed" class="choice" />
              <p>I agree to the terms & conditions of services</p>
            </label>
          </div> -->
          </div>

          <div class="btn-placement">
            <a href="../entry/signup.html">
              <button class="btn-1 previous">السابق</button>
            </a>

            <a href="..//">
              <button class="btn-1 next">التالي</button>
            </a>
          </div>
        </div>

        <!-- <div class="ermessage">
        <p class="shit">Please Read The Terms & Conditions Of Service</p>
        </div> -->
      </div>
    </div>

    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>

    <script src="../js/script.js"></script>
  </body>
</html>
